.auth__container {
	@media(min-width: 576px) {
		border: 1px solid #ccc;
	}
	border-radius: 0.2rem;
	max-width: 30rem;
	position: relative;

	.auth__overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		background-color: transparent;
		color: transparent;
		transition: all 0.3s;
		display: flex;
		align-items: center;
		justify-content: center;

		&--show {
			z-index: 10;
			color: white;
			background-color: rgba(0, 0, 0, 0.7);
		}
	}
}

.auth__body {
	padding: 1rem;
	@media(min-width: 576px) {
		padding: 2rem;
	}
	padding-bottom: 1.5rem;
}

.auth__footer {
	padding: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; // IE 10+
	justify-content: space-evenly;
	background-color: #f7f7f7;
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
}

.help-text {
	a {
		text-decoration: none;
	}
}
