<div class="container-fluid container-fluid--padding" *ngIf="transactions$ | async as transactions">
	<h2 class="font-weight-normal">{{ transactions.length }} Transactions</h2>

	<div class="list-group">
		<div *ngFor="let transaction of transactions"
			class="transaction list-group-item"
			[class.text-danger]="transaction.error">

			<span *ngIf="transaction.error != null">Error: {{transaction.error}} ‒ attempted to </span>
			<b>{{ transaction.type }}</b>
			<a routerLink="/stock/{{ transaction.ticker }}"
					[class.text-danger]="transaction.error">
				{{transaction.ticker}}
			</a>
			‒
			{{ transaction.quantity }} share<span *ngIf="transaction.quantity != 1">s</span>
			<ng-container *ngIf="!transaction.error">
				at {{ transaction.price | currency }} each
				({{ transaction.price * transaction.quantity | currency }} total)
			</ng-container>
			‒
			{{ transaction.timestamp | date:'MMMM d, y, h:mm a' }}
		</div>
	</div>
</div>
