.login-button {
	border: #4285F4;

	width: 220px;
    min-height: 40px;
	padding: 8px 16px;
	text-align: left;
}

.login-button__icon {
	img {
		display: inline-block;
		height: 18px;
		width: 18px;
	}
}

.login-button__text {
	background-color: #4285F4;
}
