.login-button {
	border: #4285F4;
	background-color: #4285F4;

	text-align: left;
	border-radius: 2px;
	padding: 1px;
}

.login-button__icon {
	background-color: white;
	display: table-cell;
	vertical-align: middle;
	line-height: 0;
	padding: 8px;

	img {
		display: inline-block;
		vertical-align: middle;
		height: 18px;
		width: 18px;
	}
}

.login-button__text {
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	padding-left: 16px;
	padding-right: 16px;
	line-height: 18px;
	color: white;
}
