.menu-icon {
	vertical-align: center;
	padding: 1rem;
	cursor: pointer;
}
.menu-icon--mobile {
	display: none;
}
@media(max-width: 768px) {
	.menu-icon--desktop {
		display: none;
	}
	.menu-icon--mobile {
		display: inline-block;
	}
}
.navbar-brand {
	padding-bottom: 4px;
	padding-top: 0;
	padding-left: 0.5rem;
}

.ticker-search__container {
	flex: 1;
}

.ticker-search {
	border: 0;
	background-color: rgba(255,255,255,0.3);
	padding: 0.2rem;
	width: 100%;
	max-width: 15rem;
	transition: all 0.3s;
	margin-left: auto;

	&::placeholder {
		color: rgba(255,255,255,0.8);
		transition: all 0.3s;
	}

	&:focus {
		background-color: rgba(255, 255, 255, 0.9);
		outline: none;
		max-width: 20rem;

		&::placeholder {
			color: #222222;
		}
	}
}

.search-button {
	display: none;
}

.navbar {
	height: 3.5rem;
}
@media(max-width: 576px) {
	.search-button {
		display: inherit;
	}
	.navbar {
		::-webkit-scrollbar {
			height: 0px;  /* remove scrollbar space */
			background: transparent;  /* optional: just make scrollbar invisible */
		}
	}
	.navbar-brand {
		padding-bottom: 0px;
	}
	.navbar-nav {
		flex-direction: row;
		overflow-x: auto;
	}
	.ticker-search__container {
		display: none;
	}
	.navbar--searching {
		display: none;
	}
	.navbar-search--visible {
		display: block !important;
	}
}

@keyframes ripple {
	0% {
		background-color: transparent;
	}

	20% {
		background-color: rgba(255,255,255,0.2);
	}

	100% {
		background-color: transparent;
	}
}


.search-button {
	float: right;
	background-color: transparent;
	border: none;
	outline: none;
	width: 1.6rem;
	height: 1.6rem;
	margin-left: 0.8rem;
	transition: background-color 0.3s;
}
