.ticker-search {
	border: 0;
	background-color: rgba(255,255,255,0.3);
	padding: 0.2rem;
	width: 15rem;
	transition: all 0.3s;

	&::placeholder {
		color: rgba(255,255,255,0.8);
		transition: all 0.3s;
	}

	&:focus {
		background-color: rgba(255, 255, 255, 0.9);
		outline: none;
		width: 20rem;

		&::placeholder {
			color: #222222;
		}
	}
}

@media(max-width: 576px) {
	.navbar-nav {
		flex-direction: row;
		overflow-x: auto;
	}
}
