.ticker-search__container {
	flex: 1;
}

.ticker-search {
	border: 0;
	background-color: rgba(255,255,255,0.3);
	padding: 0.2rem;
	width: 100%;
	max-width: 15rem;
	transition: all 0.3s;
	margin-left: auto;

	&::placeholder {
		color: rgba(255,255,255,0.8);
		transition: all 0.3s;
	}

	&:focus {
		background-color: rgba(255, 255, 255, 0.9);
		outline: none;
		max-width: 20rem;

		&::placeholder {
			color: #222222;
		}
	}
}

.search-button {
	display: none;
}

.mobile-brand {
	display: none !important;
}

@media(max-width: 576px) {
	.mobile-brand {
		display: inherit !important;
	}
	.desktop-brand {
		display: none;
	}
	.search-button {
		display: inherit;
	}
	.navbar {
		overflow-x: hidden;
		overflow-y: hidden;
		height: 3.5rem;
		::-webkit-scrollbar {
			height: 0px;  /* remove scrollbar space */
			background: transparent;  /* optional: just make scrollbar invisible */
		}
	}
	.mobile-nav {
		opacity: 1;
		width: 100%;
		transition: opacity 0.3s, width 0.3s;
	}
	.mobile-nav--search {
		width: calc(100% - 2.4rem);
	}
	.mobile-nav--hidden {
		opacity: 0;
		width: 0;
	}
	.navbar-nav {
		flex-direction: row;
		overflow-x: auto;
	}
	.ticker-search__container {
		order: 3;
		transition: all 0.3s;
		width: 0;
		input {
			opacity: 0;
			margin-left: 0;
		}
	}
	.ticker-search__container--visible {
		width: calc(100% - 2.4rem);
		margin-right: 0.5rem;
		margin-right: 0.5rem;
		input {
			opacity: 1;
			margin-left: inherit;
		}
	}
	.ticker-search {
		max-width: 100%;
		&:focus {
			max-width: 100%;
		}
	}
}

@keyframes ripple {
	0% {
		background-color: transparent;
	}

	20% {
		background-color: rgba(255,255,255,0.2);
	}

	100% {
		background-color: transparent;
	}
}


.search-button {
	float: right;
	background-color: transparent;
	border: none;
	outline: none;
	width: 1.6rem;
	height: 1.6rem;
	margin-left: 0.8rem;
	transition: background-color 0.3s, margin 0.3s;
}

.search-button--active {
	animation: ripple 1s ease-out;
	margin-left: 0;
	margin-right: 0.5rem;
}
