.ticker-search {
	border: 0;
	background-color: rgba(255,255,255,0.3);
	padding: 0.2rem;
	width: 15rem;
	transition: all 0.3s;

	&::placeholder {
		color: rgba(255,255,255,0.8);
		transition: all 0.3s;
	}

	&:focus {
		background-color: rgba(255, 255, 255, 0.9);
		outline: none;
		width: 20rem;

		&::placeholder {
			color: #222222;
		}
	}
}

.search-button {
	display: none;
}

@media(max-width: 900px) {
	.search-button {
		display: inherit;
	}
	.navbar {
		overflow-x: hidden;
	}
	.mobile-nav {
		max-width: calc(100% - 1.9rem);
		transition: max-width 0.3s;
	}
	.mobile-nav--hidden {
		max-width: 0;
	}
	.navbar-nav {
		flex-direction: row;
		overflow-x: auto;
	}
	.ticker-search__container {
		order: 3;
		transition: all 0.3s;
		width: 0;
		input {
			display: none;
			margin-left: 0;
		}
	}
	.ticker-search__container--visible {
		width: calc(100% - 3.175rem);
		margin-right: 0.5rem;
		input {
			display: inline-block;
			margin-left: inherit;
		}
	}
	.ticker-search {
		width: 100%;
		&:focus {
			width: 100%;
		}
	}
}

@keyframes ripple {
	0% {
		background-color: transparent;
	}

	20% {
		background-color: rgba(255,255,255,0.2);
	}

	100% {
		background-color: transparent;
	}
}


.search-button {
	float: right;
	background-color: transparent;
	border: none;
	outline: none;
	width: 1.6rem;
	height: 1.6rem;
	margin-left: 0.3rem;
	transition: background-color 0.3s;
}

.search-button--active {
	animation: ripple 1s ease-out;
	margin: 0;
}
