.ticker-search {
	border: 0;
	background-color: rgba(255,255,255,0.3);
	padding: 0.2rem;
	width: 15rem;
	transition: all 0.3s;

	&::placeholder {
		color: rgba(255,255,255,0.8);
		transition: all 0.3s;
	}

	&:focus {
		background-color: rgba(255, 255, 255, 0.9);
		outline: none;
		width: 20rem;

		&::placeholder {
			color: #222222;
		}
	}
}

@media(max-width: 576px) {
	.mobile-nav__container {
		text-align: center;
		width: 100%;
	}
	.mobile-nav {
		max-width: calc(100% - 2.175rem);
	}
	.navbar-nav {
		flex-direction: row;
		overflow-x: auto;
	}
	.ticker-search__container {
		width: 100%;
	}
	.ticker-search {
		width: 100%;
		&:focus {
			width: 100%;
		}
	}
}

@keyframes ripple {
	0% {
		background-color: transparent;
	}

	20% {
		background-color: rgba(255,255,255,0.2);
	}

	100% {
		background-color: transparent;
	}
}


.search-button {
	float: right;
	background-color: transparent;
	border: none;
	outline: none;
	width: 1.875rem;
	height: 1.875rem;
	margin-left: 0.3rem;
	transition: background-color 0.3s;
}

.search-button--active {
	animation: ripple 1s ease-out;
}
