<nav class="navbar navbar-expand-md navbar-dark bg-light pl-0 pr-3 py-0 d-none"
		[class.navbar-search--visible]="searchActive">
	<img src="assets/ic_arrow_back_black_24px.svg" class="menu-icon" (click)="closeSearch(mobileSearch)">

	<form class="form-inline ticker-search-mobile__container mx-0"
			[formGroup]="searchForm"
			(ngSubmit)="onSubmit(mobileSearch)">
		<input class="ticker-search-mobile form-control"
			type="search"
			placeholder="Search Stocks"
			aria-label="Search Stocks"
			formControlName="ticker"
			(blur)="onSubmit(mobileSearch)"
			(keydown)="handleKeydown($event, mobileSearch)"
			#mobileSearch>
		<div class="ticker-search-result__container">
			<div *ngFor="let result of results, index as i"
					class="ticker-search__result text-truncate py-2 px-3"
					[class.ticker-search__result--highlight]="i == searchResultSelectedIndex"
					(mouseenter)="setSelectedSearchResult(i)"
					(mousedown)="onSearchResultClick(i, mobileSearch)">
				{{ result.symbol }} - {{ result.name }}
			</div>
		</div>
	</form>
</nav>

<nav class="navbar navbar-expand-md navbar-dark bg-primary pl-0 pr-3 py-0"
		[class.navbar--searching]="searchActive">
	<img src="assets/ic_menu_white_24px.svg" class="menu-icon menu-icon--desktop" (click)="onMenuClick()">
	<img src="assets/ic_menu_white_24px.svg" class="menu-icon menu-icon--mobile" (click)="onMobileMenuClick()">

	<a class="navbar-brand"
		routerLink="/">Virtual Stocks</a>

	<form class="form-inline ticker-search__container mx-0"
			[formGroup]="searchForm"
			(ngSubmit)="onSubmit(search)"
			*ngIf="loggedIn">
		<input class="ticker-search form-control px-3"
			[class.ticker-search--withresults]="searchResults && results.length != 0"
			type="search"
			placeholder="Search Stocks"
			aria-label="Search Stocks"
			formControlName="ticker"
			(focus)="openSearch()"
			(blur)="closeSearch()"
			(keydown)="handleKeydown($event, search)"
			#search>
		<div class="ticker-search-result__container">
			<div *ngFor="let result of results, index as i"
					class="ticker-search__result text-truncate py-2 px-3"
					[class.ticker-search__result--highlight]="i == searchResultSelectedIndex"
					(mouseenter)="setSelectedSearchResult(i)"
					(mousedown)="onSearchResultClick(i, search)">
				{{ result.symbol }} - {{ result.name }}
			</div>
		</div>
	</form>
	<div class="mr-auto"></div>
	<button class="search-button rounded-circle px-0 mt-1"
			(click)="openSearch(mobileSearch)"
			*ngIf="loggedIn">
		<img src="assets/ic_search_white_24px.svg">
	</button>
</nav>
