.menu-icon {
	vertical-align: center;
	padding: 1rem;
	cursor: pointer;
}
.menu-icon--mobile {
	display: none;
}
@media(max-width: 768px) {
	.menu-icon--desktop {
		display: none;
	}
	.menu-icon--mobile {
		display: inline-block;
	}
}
.navbar-brand {
	padding-bottom: 4px;
	padding-top: 0;
	padding-left: 0.5rem;
}

.ticker-search__container {
	flex: 1;
	position: relative;

	.ticker-search-result__container {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 100%;
		width: 100%;
		max-width: 20rem;

		.ticker-search__result {
			width: 100%;
			background-color: white;

			&--highlight {
				background-color: rgb(230,242,255);
			}
		}
	}
}

.ticker-search {
	border: none;
	border-bottom: 1px solid transparent;
	background-color: rgba(255,255,255,0.3);
	padding: 0.2rem;
	width: 100%;
	max-width: 15rem;
	transition: background-color 0.3s, outline 0.3s, max-width 0.3s;
	margin-left: auto;

	&::placeholder {
		color: rgba(255,255,255,0.8);
		transition: color 0.3s;
		text-transform: none;
	}

	&:focus {
		background-color: white;
		outline: none;
		max-width: 20rem;

		&::placeholder {
			color: #222222;
		}
	}

	&--withresults {
		border-bottom: 1px solid #e6e6e6;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	text-transform: uppercase;
}

.search-button {
	display: none;
}

.navbar {
	height: 3.5rem;
}
@media(max-width: 576px) {
	.search-button {
		display: inherit;
	}
	.navbar {
		::-webkit-scrollbar {
			height: 0px;  /* remove scrollbar space */
			background: transparent;  /* optional: just make scrollbar invisible */
		}
	}
	.navbar-brand {
		padding-bottom: 0px;
	}
	.navbar-nav {
		flex-direction: row;
		overflow-x: auto;
	}
	.ticker-search__container {
		display: none;
		&--mobile {
			display: block;
		}
	}
	.navbar--searching {
		display: none;
	}
	.navbar-search--visible {
		display: flex !important;
	}
}

.ticker-search-mobile__container {
	flex: 1;
}
.ticker-search-mobile {
	background-color: transparent !important;
	border: 0 !important;
	&:focus {
		outline: none;
		box-shadow: none;
	}

	text-transform: uppercase;
}

.search-button {
	float: right;
	background-color: transparent;
	border: none;
	outline: none;
	width: 1.6rem;
	height: 1.6rem;
	margin-left: 0.8rem;
	transition: background-color 0.3s;
}
