<nav class="navbar navbar-expand-md navbar-dark bg-primary pl-0 pr-3 py-0"
		[class.navbar--searching]="searchActive">
	<img src="assets/ic_menu_white_24px.svg" class="menu-icon menu-icon--desktop" (click)="onMenuClick()">
	<img src="assets/ic_menu_white_24px.svg" class="menu-icon menu-icon--mobile" (click)="onMobileMenuClick()">

	<a class="navbar-brand"
		routerLink="/">Virtual Stocks</a>

	<form class="form-inline ticker-search__container mx-0"
			[class.ticker-search__container--visible]="searchActive"
			[formGroup]="searchForm"
			(ngSubmit)="onSubmit()"
			*ngIf="loggedIn">
		<input class="ticker-search form-control px-3"
			type="search"
			placeholder="Search Stocks"
			aria-label="Search Stocks"
			formControlName="ticker"
			(blur)="onSubmit()"
			#search>
	</form>
	<div class="mr-auto"></div>
	<button class="search-button rounded-circle px-0 mt-1"
			(click)="openSearch()"
			*ngIf="loggedIn">
		<img src="assets/ic_search_white_24px.svg">
	</button>
</nav>

<nav class="navbar navbar-expand-md navbar-dark bg-light pl-0 pr-3 py-0 d-none"
		[class.navbar-search--visible]="searchActive">
	<img src="assets/ic_arrow_back_black_24px.svg" class="menu-icon" (click)="closeSearch()">

	<form class="form-inline ticker-search__container mx-0"
			[class.ticker-search__container--visible]="searchActive"
			[formGroup]="searchForm"
			(ngSubmit)="onSubmit()"
			*ngIf="loggedIn">
		<input class="ticker-search form-control px-3"
			type="search"
			placeholder="Search Stocks"
			aria-label="Search Stocks"
			formControlName="ticker"
			(blur)="onSubmit()"
			#search>
	</form>
</nav>
