<div class="container-fluid container-fluid--padding pt-2" *ngIf="stockQuote$ | async as quote; else loading">
	<div class="w-100">
		<vs-stock-title [stockQuote]="quote"></vs-stock-title>
		<br>
		<a [href]="'https://finance.yahoo.com/quote/' + quote.ticker" target="_blank">
			Link to Yahoo Finance: {{ quote.ticker }}
		</a>
	</div>
	<div class="row">
		<div class="col col-lg-8 col-xl-9">
			<vs-stock-price [stockQuote]="quote"></vs-stock-price>

			<vs-stock-chart [chart]="stockChart$ | async"
				[showPrevClose]="(queryRange$ | async) === '1d'"
				[prevClose]="quote.previousClose"
				[ticker]="quote.ticker">
			</vs-stock-chart>
			<vs-stock-chart-range [chartRange]="queryRange$ | async"
				(chartRangeChange)="updateQueryRange($event)">
			</vs-stock-chart-range>
		</div>
		<div class="col col-lg-4 col-xl-3">
			<vs-stock-actions
				[stockQuote]="quote"
				[user]="user$ | async"
				(transaction)="onTransaction($event)">
			</vs-stock-actions>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<vs-stock-detail
				[stockQuote]="quote"
				[company]="company$ | async"
				[dividends]="dividends$ | async"
				[earnings]="earnings$ | async"
				[financials]="financials$ | async"
				[news]="news$ | async"
				[splits]="splits$ | async"
				[user]="user$ | async"
				[stats]="stats$ | async">
			</vs-stock-detail>
		</div>
	</div>
</div>

<ng-template #loading>
	<div class="loading-spinner"></div>
</ng-template>
