<div class="container-fluid container-fluid--padding pt-2" *ngIf="stockQuote$ | async as quote; else loading">
	<div class="w-100">
		<vs-stock-title [stockQuote]="quote"></vs-stock-title>
		<br>
		<a [href]="'https://finance.yahoo.com/quote/' + quote.ticker" target="_blank">
			Link to Yahoo Finance: {{ quote.ticker }}
		</a>
	</div>
	<div class="row">
		<div class="col-lg-9 col-md-8">
			<vs-stock-detail
				[stockQuote]="quote"
				[chart]="stockChart$ | async"
				[company]="company$ | async"
				[dividends]="dividends$ | async"
				[earnings]="earnings$ | async"
				[financials]="financials$ | async"
				[news]="news$ | async"
				[splits]="splits$ | async"
				[user]="user$ | async"
				[chartRange]="queryRange$ | async"
				(chartRangeChange)="updateQueryRange($event)">
			</vs-stock-detail>
		</div>

		<div class="col-lg-3 col-md-4">
			<vs-stock-actions
				[stockQuote]="quote"
				[user]="user$ | async"
				(transaction)="onTransaction($event)">
			</vs-stock-actions>
		</div>
	</div>
</div>

<ng-template #loading>
	<div class="loading-spinner"></div>
</ng-template>
