<div class="container-fluid container-fluid--padding">
	<div class="row">
		<div class="col-lg-9 col-md-8">
			<vs-stock-detail
				[stock]="stock$ | async"
				[chart]="chart$ | async"
				[user]="user$ | async">
			</vs-stock-detail>
		</div>

		<!-- TODO: make the smaller column appear on top instead of bottom when the sm/xs breakpoint is exceeded-->
		<!-- TODO: make the buy/sell inside a modal -->
		<div class="col-lg-3 col-md-4">
			<vs-stock-actions
				[stock]="stock$ | async"
				[user]="user$ | async"
				(transaction)="onTransaction($event)">
			</vs-stock-actions>
		</div>
	</div>
</div>
