.sidebar {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0;
	width: 17.5rem;
	transition: width 0.3s;
	overflow: hidden;

	.sidebar__item {
		display: inline-block;
		text-decoration: none;
		color: rgba(0, 0, 0, 0.87);
		width: 17.5rem;

		&--active {
			background-color: white;
		}

		&__icon {
			opacity: 0.54;
			height: 24px;
			width: 24px;
		}

		&__text {
			margin-left: 1rem;
			vertical-align: middle;
		}

		padding: 0.75rem 1rem;
		height: 3rem;
	}

	&--small {
		width: 3.5rem;

		@media(max-width: 768px) {
			width: 0;
		}
	}
}
