.sidebar {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0;
	width: 17.5rem;
	overflow: hidden;
	transition: width 0.3s;

	.sidebar__item {
		display: inline-block;
		text-decoration: none;
		color: rgba(0, 0, 0, 0.87);
		width: 17.5rem;

		&--active {
			background-color: white;
		}

		&__icon {
			opacity: 0.54;
			height: 24px;
			width: 24px;
		}

		&__text {
			margin-left: 1rem;
			vertical-align: middle;
		}

		padding: 0.75rem 1rem;
		height: 3rem;
	}

	&--small {
		@media(min-width: 768px) {
			width: 3.5rem;
		}
	}
}

.sidebar__overlay {
	position: fixed;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	opacity: 0;
	transition: all 0.3s;
}

.sidebar__item--brand {
	display: none !important;
	.sidebar__item__text {
		margin-left: 0.5rem;
	}
}

.sidebar__item__text--big {
	font-size: 1.5rem;
}

@media(max-width: 768px) {
	.sidebar__item--brand {
		display: inherit !important;
		height: auto !important;
		border-bottom: 1px solid #eee;
		margin-bottom: 0.75rem;
	}

	.sidebar {
		z-index: 1050;
		position: fixed;
		transition: left 0.3s, box-shadow 0.3s;
		top: 0;
		left: -17.5rem;
		bottom: 0;
		width: 17.5rem;

		&--show {
			left: 0;
			box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
		}
	}

	.sidebar__overlay--visible {
		z-index: 1040;
		opacity: 0.48;
	}
}
