<div class="container-fluid">
	<div class="row no-gutters justify-content-center">
		<div class="col auth__container">
			<div class="auth__body">
				<h2 class="font-weight-normal text-center mb-4">Login</h2>

				<vs-auth-form type="login"></vs-auth-form>
			</div>

			<div class="auth__footer">
				<vs-auth-button type="google" (action)="login()">Sign in with Google</vs-auth-button>
				<!-- <vs-auth-button type="facebook" (action)="login()">Sign in with Facebook</vs-auth-button> -->
			</div>
		</div>
	</div>
</div>
