<ng-progress
	[speed]="200"
	[spinner]="false"
	color="#FFCA28">
</ng-progress>

<vs-toolbar [loggedIn]="loggedIn"
		[searchResults]="searchResults | async"
		(partialTickerSearch)="onPartialStockSearch($event)"
		(tickerSearch)="onStockSearch($event)"
		class="toolbar"
		(toggleSidebar)="toggleSidebar()"
		(toggleSidebarMobile)="toggleSidebarMobile()"></vs-toolbar>

<vs-sidebar class="sidebar"
		[loggedIn]="loggedIn"
		[small]="sidebarSmall"
		[showMobile]="sidebarMobile"
		(toggleSidebar)="toggleSidebarMobile()"></vs-sidebar>

<div class="main__page">
	<div class="main__container"
			[class.main__container--sidenav-big]="!sidebarSmall"
			[class.main__container--sidenav-small]="sidebarSmall">
		<div class="main__content">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
