<ng-progress
	[speed]="200"
	[spinner]="false"
	color="#FFCA28">
</ng-progress>

<div class="main__container">
	<vs-toolbar [loggedIn]="loggedIn"
			(tickerSearch)="onStockSearch($event)"
			class="main__toolbar"
			(toggleSidebar)="toggleSidebar()"></vs-toolbar>

	<div class="main__content">
		<vs-sidebar class="main__sidebar"
				[loggedIn]="loggedIn"
				[small]="sidebarSmall"
				(backdropClick)="toggleSidebar()"></vs-sidebar>
		<div class="main__page">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
