<ng-container *ngIf="stockPrices">
	<table class="table striped" style="max-width: 60rem">
		<thead>
			<tr>
				<th scope="col">Ticker</th>
				<th scope="col">Price</th>
				<th scope="col">% Change</th>
				<th scope="col">Quantity</th>
				<th scope="col">Gain</th>
				<th scope="col">Value</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let stock of stocks">
				<th>{{ stock.ticker }}</th>
				<td>{{ stockPrices[stock.ticker]?.price | currency }}</td>
				<td [class.text-success]="getPercentChange(stock) > 0"
						[class.text-danger]="getPercentChange(stock) < 0">
					{{ getPercentChange(stock) | percent: "1.2" }}
				</td>
				<td>{{ stock.quantity }}</td>
				<td [class.text-success]="getStockGain(stock) > 0"
						[class.text-danger]="getStockGain(stock) < 0">
					{{ getStockGain(stock) | currency }}
				</td>
				<td>{{ getStockValue(stock) | currency }}</td>
			</tr>
		</tbody>
	</table>
</ng-container>
