<div class="table-responsive" *ngIf="stockPrices && stocks.length > 0">
	<table class="table striped" style="max-width: 60rem">
		<thead>
			<tr>
				<th scope="col">Ticker</th>
				<th scope="col">Price</th>
				<th scope="col">% Gain</th>
				<th scope="col" class="d-none d-sm-table-cell">Quantity</th>
				<th scope="col" class="d-none d-sm-table-cell">Gain</th>
				<th scope="col" class="d-none d-sm-table-cell">Value</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let stock of stocks">
				<th>{{ stock.ticker }}</th>
				<td>{{ stockPrices[stock.ticker]?.price | currency }}</td>
				<td [class.text-success]="getPercentChange(stock) > 0"
						[class.text-danger]="getPercentChange(stock) < 0">
					{{ getPercentChange(stock) | percent: "1.2" }}
				</td>
				<td class="d-none d-sm-table-cell">{{ stock.quantity }}</td>
				<td class="d-none d-sm-table-cell"
						[class.text-success]="getStockGain(stock) > 0"
						[class.text-danger]="getStockGain(stock) < 0">
					{{ getStockGain(stock) | currency }}
				</td>
				<td class="d-none d-sm-table-cell">{{ getStockValue(stock) | currency }}</td>
			</tr>
		</tbody>
	</table>
</div>
<div *ngIf="stocks && stocks.length === 0">
	No stocks yet!
</div>
