.login__container {
	border: 1px solid #ccc;
	border-radius: 0.2rem;
	max-width: 30rem;
}

.login__body {
	padding: 2rem;
	padding-bottom: 1.5rem;
}

.login__footer {
	padding: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; // IE 10+
	justify-content: space-evenly;
	background-color: #f7f7f7;

	.help-text {
		a {
			text-decoration: none;
		}
	}
}
