<div class="container-fluid">
	<div class="row no-gutters justify-content-center">
		<div class="col-lg-4 login__container">
			<div class="login__body">
				<h2 class="font-weight-normal text-center mb-4">Login</h2>

				<form class="login__form">
					<input type="email"
							class="form-control login__field login__field--email"
							id="emailAddress"
							placeholder="Email">
					<input type="password"
							class="form-control login__field login__field--password"
							id="password"
							placeholder="Password">
				</form>
			</div>

			<div class="login__footer text-center">
				<vs-login-button type="google" (login)="login()">Sign in with Google</vs-login-button>
				<!-- <vs-login-button type="facebook" (login)="login()">Log in with Facebook</vs-login-button> -->
			</div>
		</div>
	</div>
</div>
