<div class="title__container">
	<div class="title">
		{{ stockQuote.latestPrice | currency }}
	</div>
	<div class="subtitle">
		per share
	</div>
</div>

<accordion [closeOthers]="true">
	<accordion-group heading="Buy" [isOpen]="true" class="mb-2">
		<vs-stock-order-form [stockQuote]="stockQuote"
			type="buy"
			(transaction)="onTransaction($event, 'buy')">
		</vs-stock-order-form>
	</accordion-group>
	<accordion-group heading="Sell">
		<vs-stock-order-form [stockQuote]="stockQuote"
			type="sell"
			(transaction)="onTransaction($event, 'sell')">
		</vs-stock-order-form>
	</accordion-group>
</accordion>
