<div class="title__container">
	<div class="title">
		{{ stock?.latestPrice | currency }}
	</div>
	<div class="subtitle">
		per share
	</div>
</div>

<accordion [closeOthers]="true">
	<accordion-group heading="Buy" [isOpen]="true">
		<vs-stock-order-form [stock]="stock"
			type="buy"
			(transaction)="onTransaction($event, 'buy')">
		</vs-stock-order-form>
	</accordion-group>
	<accordion-group heading="Sell">
		<vs-stock-order-form [stock]="stock"
			type="sell"
			(transaction)="onTransaction($event, 'sell')">
		</vs-stock-order-form>
	</accordion-group>
</accordion>
