.list-group-item--left {
	float: left;
}
.list-group-item--right {
	float: right;
	font-weight: bold;
}

@media(min-width: 1550px) {
	.col-xxl-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
}

@media(max-width: 1549px) {
	.stats-listgroup--bottom {
		border-top: 1px solid rgba(0, 0, 0, 0.125);
	}
}

@media(max-width: 991px) {
	.stats-listgroup {
		border-top: 1px solid rgba(0, 0, 0, 0.125);
	}
	.stats-listgroup--first {
		border-top: none;
	}
}
